.message {
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    &.yourself {
        color: var(--fb-blue) !important;
    }

    &__time {
        width: 15%;
    }

    &__content {
        width: 70%;
        word-wrap: break-word;
    }

    img {
        width: 10%;
    }
}