.browsepad {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.browsePage {
    &__header {
        margin: 0rem -1.5rem;
        &__title {

        }

        &__input {

        }
    }
}

@media only screen and (max-width: 768px) {
    .browsePage {
        &__header {
            margin: 0rem -1.5rem;
            flex-wrap: wrap;
            &__title {
                width: 100% !important;
                margin-bottom: 0.5rem;
            }
    
            &__input {
                width: 100% !important;
            }
        }
    }
}