@import '../_sass/abstracts/index';
@import '../_sass/vendor/index';

.page--home {

}

#carouselExampleIndicators {
    max-height: 100vh;
    .carousel-item {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .carousel-caption {
        bottom: 18%;
    }
}