@import '../_sass/abstracts/index';
@import '../_sass/vendor/index';

.page--home {

}

#carouselExampleIndicators {
    max-height: 100vh;
    .carousel-item {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .carousel-caption {
        // bottom: 18%;
        // margin-bottom: 2.5rem;
        top:50%;
        bottom:auto;
        -webkit-transform:translate(0, -50%);
        -ms-transform:translate(0, -50%);
        transform:translate(0, -50%);
    }
}

.round-img {
    width: 22rem !important;
    height: 22rem !important; 
    border-radius: 100% !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}