.settings {
    margin-top: 5rem;
    padding-bottom: 3rem;

    &__nav {
        background-color: var(--grey-blue);
        display: flex;
        align-items: center;

        &__item {
            font-weight: 500;
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            text-transform: capitalize;
            padding: 24.5px 3rem;
            width: min-content;
            margin: 0;

            &.active {
                color: var(--white);
                border-bottom: 4px solid var(--white);
            }
        }
    }

    &__content {
        background-color: var(--grey-blue);
        width: 100%;
        border-radius: 0.5rem;
        color: var(--white);
        padding-bottom: 1rem;
    }
}